body{
  width:100vw;
  height:100vh;
  margin:0;
}

.header{
  width:100vw;
  height:7.5vh;
  background-color:lightblue;
  box-sizing: border-box;
  border: 2px solid black;
} 

.content{
  width:60vw;
  height:92.5vh;
  margin-left:20vw;
  margin-right:20vw;
  background-color:lightcoral;
  text-align:center;
  box-sizing: border-box;
  border: 2px solid black
} 

.title{
  margin-top: 40vh;
  margin-left:auto;
}

.url{
  margin-left:auto;
  margin-bottom:1rem;
}
